# 3rdparty, tmp and build direcotry
3rdparty/
tmp/
xbin/
build/
docs/
res/keys
res/
TODO.md

# vim/neovim / YouCompleteMe
.vimrc
.gvimrc
init.vim
Session.vim
.ycm_extra_conf.*
.color_coded*
tags

# ahh! OSX finder!
.directory
.DS_Store

# translation files
*.qm
*.ts

# key files
*.pem

# temp files
Makefile*
*.user
*.autosave
*.~
*.o
*.qmake.stash
*.pro.user*
*.bak
*.log
*_plugin_import.cpp
*.swp

# Visual studio
*.htm
*.html
*.ncb
*.idb
*.suo
*.pdb
*.vcxproj.filters
*.vcproj
*.vcxproj
*.sln
*.rc

# node.js external modules
node_modules


